# **** DO NOT SEND TITLED DATA TO GIT! ****
*_TITLED*
/cfg_files/TITLED/*
!/cfg_files/TITLED/.gitignore
!/cfg_files/TITLED/__init__.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
